In [1]:
from pyspark import SparkContext, SparkConf

In [2]:
conf = SparkConf().setAppName("6132_Shustanov_1").setMaster('yarn')
context = SparkContext(conf=conf)

In [3]:
from pyspark.sql import SparkSession

session = SparkSession(context)

In [4]:
tripData = session.read\
.option("header", True)\
.option("inferSchema", True)\
.option("timestampFormat", 'M/d/y H:m')\
.csv("trips.csv")

In [5]:
tripData.printSchema()

root
 |-- id: integer (nullable = true)
 |-- duration: integer (nullable = true)
 |-- start_date: timestamp (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_id: integer (nullable = true)
 |-- end_date: timestamp (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_id: integer (nullable = true)
 |-- bike_id: integer (nullable = true)
 |-- subscription_type: string (nullable = true)
 |-- zip_code: string (nullable = true)

In [6]:
tripData.head()

Row(id=4576, duration=63, start_date=None, start_station_name='South Van Ness at Market', start_station_id=66, end_date=datetime.datetime(2013, 8, 29, 14, 14), end_station_name='South Van Ness at Market', end_station_id=66, bike_id=520, subscription_type='Subscriber', zip_code='94127')

In [7]:
station_data = session.read\
.option("header", True)\
.option("inferSchema", True)\
.option("timestampFormat", 'M/d/y')\
.csv("stations.csv")

In [8]:
station_data.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dock_count: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- installation_date: timestamp (nullable = true)

In [9]:
# task1 Найти велосипед с максимальным временем пробега.

from pyspark.sql.functions import sum, desc

tripData.groupBy('bike_id').agg(sum('duration').alias('run')).sort(desc('run')).limit(1).show()

+-------+--------+
|bike_id|     run|
+-------+--------+
|    535|36229902|
+-------+--------+

In [10]:
# task2 Найти наибольшее геодезическое расстояние между станциями.
from math import sin, cos, sqrt, atan2, radians

def distance(lat1, lon1, lat2, lon2):
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)
    
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    return 6371 * c

station_data.crossJoin(station_data).rdd.map(lambda entry: distance(entry[2], entry[3], entry[9], entry[10])).max()

69.92087595428183

In [11]:
# task3 путь велосипеда с максимальным временем пробега через станции
# использован bike_id найденный в первом задании

# поездки велосипеда, 
route = tripData.select('start_station_id', 'end_station_id').where('bike_id=535')
route.show()

+----------------+--------------+
|start_station_id|end_station_id|
+----------------+--------------+
|              70|            69|
|              47|            70|
|              77|            64|
|              69|            77|
|              61|            42|
|              58|            72|
|              72|            47|
|              47|            60|
|              60|            46|
|              46|            77|
|              77|            77|
|              77|            62|
|              62|            61|
|              55|            61|
|              61|            60|
|              60|            41|
|              41|            50|
|              50|            41|
|              41|            70|
|              70|            74|
+----------------+--------------+
only showing top 20 rows

In [12]:
station2 = station_data.toDF("id2", "name2", "lat2", "long2", "dock_count2", "city2", "installation_date2")
station2.show()

+---+--------------------+------------------+-------------------+-----------+------------+-------------------+
|id2|               name2|              lat2|              long2|dock_count2|       city2| installation_date2|
+---+--------------------+------------------+-------------------+-----------+------------+-------------------+
|  2|San Jose Diridon ...|         37.329732|-121.90178200000001|         27|    San Jose|2013-08-06 00:00:00|
|  3|San Jose Civic Ce...|         37.330698|        -121.888979|         15|    San Jose|2013-08-05 00:00:00|
|  4|Santa Clara at Al...|         37.333988|        -121.894902|         11|    San Jose|2013-08-06 00:00:00|
|  5|    Adobe on Almaden|         37.331415|          -121.8932|         19|    San Jose|2013-08-05 00:00:00|
|  6|    San Pedro Square|37.336721000000004|        -121.894074|         15|    San Jose|2013-08-07 00:00:00|
|  7|Paseo de San Antonio|         37.333798|-121.88694299999999|         15|    San Jose|2013-08-07 00:00:00|
|  8| San Salvador at 1st|         37.330165|-121.88583100000001|         15|    San Jose|2013-08-05 00:00:00|
|  9|           Japantown|         37.348742|-121.89471499999999|         15|    San Jose|2013-08-05 00:00:00|
| 10|  San Jose City Hall|         37.337391|        -121.886995|         15|    San Jose|2013-08-06 00:00:00|
| 11|         MLK Library|         37.335885|-121.88566000000002|         19|    San Jose|2013-08-06 00:00:00|
| 12|SJSU 4th at San C...|         37.332808|-121.88389099999999|         19|    San Jose|2013-08-07 00:00:00|
| 13|       St James Park|         37.339301|-121.88993700000002|         15|    San Jose|2013-08-06 00:00:00|
| 14|Arena Green / SAP...|         37.332692|        -121.900084|         19|    San Jose|2013-08-05 00:00:00|
| 16|SJSU - San Salvad...|37.333954999999996|        -121.877349|         15|    San Jose|2013-08-07 00:00:00|
| 21|   Franklin at Maple|         37.481758|        -122.226904|         15|Redwood City|2013-08-12 00:00:00|
| 22|Redwood City Calt...|37.486078000000006|-122.23208899999999|         25|Redwood City|2013-08-15 00:00:00|
| 23|San Mateo County ...|37.487615999999996|        -122.229951|         15|Redwood City|2013-08-15 00:00:00|
| 24|Redwood City Publ...|         37.484219|        -122.227424|         15|Redwood City|2013-08-12 00:00:00|
| 25|Stanford in Redwo...|          37.48537|-122.20328799999999|         15|Redwood City|2013-08-12 00:00:00|
| 26|Redwood City Medi...|         37.487682|        -122.223492|         15|Redwood City|2013-08-12 00:00:00|
+---+--------------------+------------------+-------------------+-----------+------------+-------------------+
only showing top 20 rows

In [13]:
route_with_station_data = route.crossJoin(station_data).crossJoin(station2).where('start_station_id=id and end_station_id=id2')
route_with_station_data.show()
route_with_station_data.rdd.map(lambda entry: distance(entry[4], entry[5], entry[11], entry[12])).sum()

+----------------+--------------+---+--------------------+---------+-------------------+----------+-------------+-------------------+---+--------------------+---------+-------------------+-----------+-------------+-------------------+
|start_station_id|end_station_id| id|                name|      lat|               long|dock_count|         city|  installation_date|id2|               name2|     lat2|              long2|dock_count2|        city2| installation_date2|
+----------------+--------------+---+--------------------+---------+-------------------+----------+-------------+-------------------+---+--------------------+---------+-------------------+-----------+-------------+-------------------+
|              70|            69| 70|San Francisco Cal...|37.776617|-122.39526000000001|        19|San Francisco|2013-08-23 00:00:00| 69|San Francisco Cal...|  37.7766|-122.39546999999999|         23|San Francisco|2013-08-23 00:00:00|
|              47|            70| 47|     Post at Kearney|37.788975|        -122.403452|        19|San Francisco|2013-08-19 00:00:00| 70|San Francisco Cal...|37.776617|-122.39526000000001|         19|San Francisco|2013-08-23 00:00:00|
|              77|            64| 77|   Market at Sansome|37.789625|        -122.400811|        27|San Francisco|2013-08-25 00:00:00| 64|   2nd at South Park|37.782259|        -122.392738|         15|San Francisco|2013-08-22 00:00:00|
|              69|            77| 69|San Francisco Cal...|  37.7766|-122.39546999999999|        23|San Francisco|2013-08-23 00:00:00| 77|   Market at Sansome|37.789625|        -122.400811|         27|San Francisco|2013-08-25 00:00:00|
|              61|            42| 61|     2nd at Townsend|37.780526|-122.39028799999998|        27|San Francisco|2013-08-22 00:00:00| 42|    Davis at Jackson| 37.79728|        -122.398436|         15|San Francisco|2013-08-19 00:00:00|
|              58|            72| 58|San Francisco Cit...| 37.77865|-122.41823500000001|        19|San Francisco|2013-08-21 00:00:00| 72|Civic Center BART...|37.781039|        -122.411748|         23|San Francisco|2013-08-23 00:00:00|
|              72|            47| 72|Civic Center BART...|37.781039|        -122.411748|        23|San Francisco|2013-08-23 00:00:00| 47|     Post at Kearney|37.788975|        -122.403452|         19|San Francisco|2013-08-19 00:00:00|
|              47|            60| 47|     Post at Kearney|37.788975|        -122.403452|        19|San Francisco|2013-08-19 00:00:00| 60|Embarcadero at Sa...| 37.80477|-122.40323400000001|         15|San Francisco|2013-08-21 00:00:00|
|              60|            46| 60|Embarcadero at Sa...| 37.80477|-122.40323400000001|        15|San Francisco|2013-08-21 00:00:00| 46|Washington at Kea...|37.795425|-122.40476699999999|         15|San Francisco|2013-08-19 00:00:00|
|              46|            77| 46|Washington at Kea...|37.795425|-122.40476699999999|        15|San Francisco|2013-08-19 00:00:00| 77|   Market at Sansome|37.789625|        -122.400811|         27|San Francisco|2013-08-25 00:00:00|
|              77|            77| 77|   Market at Sansome|37.789625|        -122.400811|        27|San Francisco|2013-08-25 00:00:00| 77|   Market at Sansome|37.789625|        -122.400811|         27|San Francisco|2013-08-25 00:00:00|
|              77|            62| 77|   Market at Sansome|37.789625|        -122.400811|        27|San Francisco|2013-08-25 00:00:00| 62|       2nd at Folsom|37.785299|-122.39623600000002|         19|San Francisco|2013-08-22 00:00:00|
|              62|            61| 62|       2nd at Folsom|37.785299|-122.39623600000002|        19|San Francisco|2013-08-22 00:00:00| 61|     2nd at Townsend|37.780526|-122.39028799999998|         27|San Francisco|2013-08-22 00:00:00|
|              55|            61| 55|Temporary Transba...|37.789756|-122.39464299999999|        23|San Francisco|2013-08-20 00:00:00| 61|     2nd at Townsend|37.780526|-122.39028799999998|         27|San Francisco|2013-08-22 00:00:00|
|              61|            60| 61|     2nd at Townsend|37.780526|-122.39028799999998|        27|San Francisco|2013-08-22 00:00:00| 60|Embarcadero at Sa...| 37.80477|-122.40323400000001|         15|San Francisco|2013-08-21 00:00:00|
|              60|            41| 60|Embarcadero at Sa...| 37.80477|-122.40323400000001|        15|San Francisco|2013-08-21 00:00:00| 41|     Clay at Battery|37.795001|         -122.39997|         15|San Francisco|2013-08-19 00:00:00|
|              41|            50| 41|     Clay at Battery|37.795001|         -122.39997|        15|San Francisco|2013-08-19 00:00:00| 50|Harry Bridges Pla...|37.795392|        -122.394203|         23|San Francisco|2013-08-20 00:00:00|
|              50|            41| 50|Harry Bridges Pla...|37.795392|        -122.394203|        23|San Francisco|2013-08-20 00:00:00| 41|     Clay at Battery|37.795001|         -122.39997|         15|San Francisco|2013-08-19 00:00:00|
|              41|            70| 41|     Clay at Battery|37.795001|         -122.39997|        15|San Francisco|2013-08-19 00:00:00| 70|San Francisco Cal...|37.776617|-122.39526000000001|         19|San Francisco|2013-08-23 00:00:00|
|              70|            74| 70|San Francisco Cal...|37.776617|-122.39526000000001|        19|San Francisco|2013-08-23 00:00:00| 74|   Steuart at Market|37.794139|        -122.394434|         23|San Francisco|2013-08-25 00:00:00|
+----------------+--------------+---+--------------------+---------+-------------------+----------+-------------+-------------------+---+--------------------+---------+-------------------+-----------+-------------+-------------------+
only showing top 20 rows

2214.085859118054

In [14]:
# task4 количество велосипедов

tripData.select('bike_id').distinct().count()

700

In [15]:
# task5 Найти пользователей потративших на поездки более 3 часов.
# в качестве идентификатора пользователя использован атрибут zip_code, полученное значение очевидно некорректно, но какой-либо другой персональной информации в схеме нет

tripData.groupBy('zip_code').agg(sum('duration').alias('user_run')).where('user_run > 10800').sort(desc('user_run')).show()

+--------+--------+
|zip_code|user_run|
+--------+--------+
|   94107|75957358|
|     nil|70865483|
|   94105|35662786|
|   95531|34540800|
|   94133|31520319|
|    null|28944159|
|   94103|28175558|
|   94102|27269935|
|   94111|20320436|
|   95112|18257823|
|   94109|16330251|
|   94110|10902662|
|   94040|10328795|
|   94117| 9237419|
|   94301| 9156218|
|   94041| 8650800|
|   94306| 8579026|
|   94158| 8526623|
|   94010| 7667734|
|   94025| 7377243|
+--------+--------+
only showing top 20 rows

In [81]:
session.stop()